!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if prd_list %}
<table border="1" margin="autor" align="center">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Prd_Qnty</th>
      <th>Prd_Price</th>
      <th>Prd_Loc</th>
  </tr>
    {% for prd in prd_list %}
  <tr>
    <td>{{prd.id}}</td>
    <td>{{prd.prd_name}}</td>
    <td>{{prd.prd_qnty}}</td>
      <td>{{prd.prd_validity}}</td>
      <td>{{prd.prd_valid_upto}}</td>
  </tr>
  {% endfor %}
</table>
{%else%}
<h1> No data Found </h1>
{%endif%}
</body>
</html>
</body>
</html>